﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.7.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.signalR-1.1.3.js" type="text/javascript"></script>

<script src="~/SignalR/Hubs/"></script>

<script>


    var chat = null;
    var name = "Tee";

    $(function () {

        chat = $.connection.chat;



        chat.client.receiveMessage = function (message) {
            //alert(message);
            message = "<div>" + message + "</div>";
            $("#div-chat-box").append(message);

        };

        $.connection.hub.start()
        .done(function () {


            $("#cmd-send").click(function () {
                var message = $("#txt-message").val();
                chat.server.broadcastMessage(name, message);
            });

            chat.server.broadcastMessage(name, "HaHaHa");


        })
        .fail(function () {

            alert("Error");
        });


        var s = "";

        for (e in $.connection.chat.server) {
            s += e + "\n";
        }

        alert(s);

    });



</script>

<h2>Index</h2>

<div id="div-chat-box">
</div>
<input type="text" id="txt-message" />
<input type="button" id="cmd-send" value="Send Message" />